.navbar {
	display         : flex;
	height          : 84px;
	padding         : 16px 48px 16px 48px;
	gap             : 0px;
	justify-content : space-between;
	align-items     : center;
	background-color: var(--marvel-black);
	border-bottom   : 1px solid var(--marvel-border);

	&__logo {
		display: flex;
		gap    : 0.5rem;
	}

	&__favorites {
		display    : flex;
		align-items: center;
		gap        : 8px;
		font-family: Roboto Condensed;
		font-size  : 16px;
		font-weight: 400;
		line-height: 18.75px;
		text-align : left;
		color      : var(--marvel-white);
	}
}