.switch {
	display              : grid;
	grid-template-columns: repeat(2, 6rem);
	justify-content      : end;
	gap                  : 0.5rem;
	padding              : 0 0 1rem;

	>.button {
		width: 4rem;
	}
}