.detail-resume {
	max-width               : 960px;
	margin                  : 0 auto;
	display                 : grid;
	grid-template-columns   : min-content 1fr;
	// gap                  : 24px;

	&__image {
		max-height: 320px;
		width     : auto;

		>img {
			height: 100%;
		}
	}

	&__description {
		width : 640px;
		height: 320px;

		>div {
			padding: 48px 0px 48px 48px;
		}


		&-title {
			display        : flex;
			justify-content: space-between;
			align-items    : center;
		}
	}

}