.detail-resume {
	max-width: 960px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: min-content 1fr;

	&__image {
		max-height: 320px;
		width: auto;

		> img {
			height: 100%;
		}
	}

	&__description {
		height: 320px;

		> div {
			padding: 48px;
		}

		&-title {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	@media (max-width: 550px) {
		grid-template-columns: 1fr;

		&__image {
			max-width: auto;
			width: 100%;
			max-height: 500px;

			> img {
				width: 100%;
			}
		}

		&__description {
			height: auto;

			> div {
				padding: 1rem;
			}
		}
	}
}
