.card-list {
	max-width: 188.5px;
	min-width: 172.5px;
	height: 245.97px;
	background-color: var(--marvel-black);
	display: grid;
	position: relative;

	&__image {
		width: 100%;
		height: 189.97px;

		> img {
			width: 100%;
			height: 100%;
		}
	}

	&__rectangle {
		position: absolute;
		top: 185px;
		left: 0;
		width: 188.5px;
		height: 5.38px;
		background-color: var(--marvel-red);
	}

	&__info {
		position: relative;
		padding: 16px 16px 24px 16px;
		display: flex;
		justify-content: space-between;
		color: var(--marvel-white);

		> p {
			margin: 0;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
		}
	}

	&__cut {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 12.86px 12.86px 0 0;
		border-color: transparent var(--marvel-white) transparent transparent;
	}

	&:hover {
		.card-list__rectangle {
			bottom: 0;
			height: auto;
		}
	}
}
